body{
  margin: 0; padding: 0;
  box-sizing: border-box;
}
main{
  width: 100%;
  perspective: 5000px;
}
main section{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; left: 50%; right: 0; 
  top: 0; transform: translateX(-50%);
  transition: 1s ease-in-out;
}
main section p{
  font-size: 2rem;
  font-weight: bold;
  color: seashell;
  text-align: center;
  margin: 0; padding: 1rem 2rem;
  /* border: 1px solid red; */
}
main section:nth-child(1){
  background-color: yellowgreen;
}
main section:nth-child(2){
  background-color: brown;
  opacity: 0;
}
main section:nth-child(3){
  background-color: yellow;
  opacity: 0;
}
main section:nth-child(4){
  background-color: springgreen;
  opacity: 0;
}
main section:nth-child(5){
  background-color: slateblue;
  opacity: 0;
}